body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}
#calendar {
    margin-top: 20px;
}
#bookingForm {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
